.header {
    color: rgb(65, 163, 170);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    /* overflow: hidden; */
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.name {
    font-size: 30px;
    margin-left: 2%;
    font-weight: 600;
    font-family: cursive;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.navOpen {
    display: block;
}

.link {
    text-decoration: none;
    color: rgb(65, 163, 170);
    margin: 0 10px;
}

.link:hover {
    color: aqua;
    cursor: pointer;
}

.menuIcon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.highlight {
    color: white;
}

@media only screen and (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 10%;
        left: 200px;
        top: 50px;
        background-color: rgb(41, 48, 48);
        width: 50%;
        height: 300%;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navOpen {
        display: flex;
    }

    .menuIcon {
        display: block;
        margin-right: 20px;
    }

    .link {
        margin: 15px 0;
    }
    .link:hover {
        color: aqua;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1390px) and (max-width: 2000px) {
    .name {
        font-size: 42px;
    }
}
