
.home{
    background-color: rgb(33, 37, 39);
    padding-bottom: 5%;
    padding-top: 8%; 
    
}

.nav{
    padding-bottom:1% ;
    overflow: hidden;
    background-color: rgb(38, 44, 46);
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 100px;
    
}


.aboutme {
    padding-top: 3%;
    background-color: rgb(183, 212, 231);
    padding-bottom: 1%;
}

.projects{
    padding-top: 3%;
    background-color: rgb(183, 212, 231);
    padding-bottom: 1%;
   
   
}

.contactMe{
    background-color: rgb(34, 37, 38);
    padding-bottom: 2%;

}
.skills{
    padding-top: 3%;
    background-color: rgb(183, 212, 231);
    padding-bottom: 1%;
   

}
/* .circle{
    width: 50px;
    height: 50px;
    background-color: rgb(37, 27, 63),
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(131, 224, 240, 0.8), 
                0 0 20px rgba(131, 224, 240, 0.6), 
                0 0 30px rgba(131, 224, 240, 0.4), 
                0 0 40px rgba(131, 224, 240, 0.2);
} */


